@import 'tailwindcss';

@theme {
  --color-primary: #f4cbdf;

  --color-background: #ffffff;
  --color-background-dark: #0b0b12;
  --color-foreground: #000000;
  --color-foreground-dark: #ffffff;

  --color-brand-1-from: #973bed;
  --color-brand-1-to: #007cff;
  --color-brand-2-from: #ffc800;
  --color-brand-2-to: #ff00ff;
  --color-brand-3-from: #00e0ed;
  --color-brand-3-to: #00da72;
  --color-brand-4-from: #f97316;
  --color-brand-4-to: #ef4444;
  --color-brand-5-from: #06b6d4;
  --color-brand-5-to: #8b5cf6;
  --color-brand-6-from: #a3e635;
  --color-brand-6-to: #0ea5e9;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-background-dark);
    color: var(--color-foreground-dark);
  }
}
